#header{
	width: 1500px;
	background-image:url(../images/banner.jpg);
	float:left;
}
body{
	background-color:black;
	width:1500px;
}
.logo{
	width: 150px;
	float:left;

}
.p1{
	width:100px;
	height: 100px;
	margin-top:10px;
	margin-left:20px;
}
.word{
	width:150px;
	float:left;
	margin-left:10px;
	margin-top:35px;
}
.a1{
	font-size:30px;
	color:#6495ed;
	font-family:'华文隶书';
	text-decoration:none;
} 
.a1:hover{
	font-weight:bold;
}
.a2{
	font-size:15px;
	color:black;
	text-decoration:none;
}
.a2:hover{
	font-weight:bold;
}
.list{
	width:900px;	
	float:right;
	margin-top:55px; ;
	margin-left:50px;
}
.list a{
	text-decoration:none;
	color:white;
	font-size:25px;
	font-family:'华文黑体';
	font-weight:bold;
}
.list a:hover{
	color:#daa520;
}
.list li{
	list-style:none;
	float: left;
}
.search{
	width:180px;
	float:right;
	margin-top:-26px;
	margin-left:250px;
}
.in1{
	width: 120px;
	height:20px;
}
.in2{
	width: 50px;
	height:25px;
	background-color:#32cd32;
}
#content{
	width:1100px;
	height:1500px;
	margin-left:200px;
	border:1px solid black;	
}
.content_top{
	width:1100px;
	height:420px;
	margin-top:150px;
}
.content_top_left{
	width:550px;
	height:400px;
	margin-left:10px;
	margin-top:10px;
	float: left;
}
.p2{
	width:500px;
	height:350px;
	margin-left:20px;
	margin-top:20px;
	margin:3px;
	border:1px solid #bebebe;
	float:left;
	text-align: center;
	opacity:0.5;
}
.p2:hover{
	opacity:1.0;
}
.a3{
	width:200px;
	height:30px;
	margin-left:320px;
	margin-top:360px;
}
.a3 p{
	color:white;
	font-size:15px;
}
.content_top_right{
	width:500px;
	height:400px;
	margin-top:10px;
	float: left;
}
.a4{
	width:250px;
	margin-left:100px;
	margin-top:50px;
}
.a5{
	width:250px;
	margin-left:120px;
}
.in5{
	width:100px;
	background-color:pink;
}
.in6{
	width:100px;
	background-color:pink;
}
.a6{
	width:300px;
	margin-left:135px;
	margin-top:20px;
}
.content_bottom{
	width:1100px;
	margin-top:10px;
}
.content_bottom a{
	font-size:25px;
	color:#6495ed;
	font-family:'华文黑体';
	text-decoration: none;
}
.content_bottom a:hover{
	font-weight:bold;
}
.d1{
	width:500px;
	height:400px;
	margin-top:10px;
	margin-left: 10px;
	float:left;
}
.d2{
	float:left;
	width:500px;
	height:400px;
	margin-top:10px;
	margin-left: 50px;
}
.d4{
	float:left;
	width:500px;
	height:400px;
	margin-top:10px;
	margin-left: 50px;
}
.d3{
	float:left;
	width:500px;
	height:400px;
	margin-top:10px;
	margin-left:10px;	
}
.p6{
	margin-left:15px;
	margin-top:15px;
}
.p5{
	margin-left:15px;
	margin-top:15px;
}
.p7{
	margin-left:15px;
	margin-top:15px;
}
.p8{
	margin-left:15px;
	margin-top:15px;
}
.c1 p{
	color:white;
	font-size:15px;
}
.c1{
	width:200px;
	height:70px;
	margin-left:300px;
	margin-top:10px;
}
.c2 p{
	color:white;
	font-size:15px;
}
.c2{
	width:200px;
	height:70px;
	margin-left:300px;
	margin-top:10px;
}
.c3 p{
	color:white;
	font-size:15px;
}
.c3{
	width:200px;
	height:70px;
	margin-left:300px;
	margin-top:10px;
}
.c4 p{
	color:white;
	font-size:15px;
}
.c4{
	width:200px;
	height:70px;
	margin-left:300px;
	margin-top:10px;
}
.a7{
	width:1100px;
	float: left;
}
.ul1{
	width:550px;
	height:50px;
	margin-left:300px;
}
.ul1 li{
	list-style:none;
	float:left;
}
.ul1 li a{
	font-size:20px;
}
#footer{
	width: 1100px;
	margin-left:200px;
	margin-top:40px;
}
.a8{
	width:700px;
	margin-left:320px;
}
.a9{
	width:900px;
	margin-left:150px;
}
.a10{
	width:700px;
	margin-left:360px;
	margin-top:15px;
}
